<!-- Navbar -->
<nav class="navbar navbar-expand-lg" draggable="false">
  <!-- fluid to be added later on -->
  <div class="container-fluid" draggable="false">
    <!-- Logo -->
    <a href="" class="home" draggable="false"
      ><img class="image" src="src/assets/home/logo.svg" alt="logopng" draggable="false"
    /></a>
    <!-- SideBar -->
    <div
      class="sidebar offcanvas offcanvas-start shows"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel" draggable="false">
      <!-- SideBar Header -->
      <div class="offcanvas-header border-bottom shadow-none" draggable="false">
        <a href="" draggable="false"
          ><img class="image" src="src/assets/home/logo.svg" alt="logopng" draggable="false"
        /></a>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          draggable="false"></button>
      </div>
      <!-- SideBar Body -->
      <div class="offcanvas-body justify-content-center" draggable="false">
        <ul class="navbar-nav" draggable="false">
          <!-- justify-content-center fs-6 flex-grow-1 pe-3 gap-2 -->
          <li class="nav-item p-3">
            <a class="nav-link fonts" href="" id="home" draggable="false"><strong>Home</strong></a>
          </li>
          <li class="nav-item p-3">
            <a class="nav-link fonts" href="" id="leaderboard"
            draggable="false"><strong>Leaderboard</strong></a
            >
          </li>
          <li class="nav-item p-3">
            <a class="nav-link fonts" href="" id="about" draggable="false"
              ><strong draggable="false">About Us</strong></a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Toggle Button -->
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
      draggable="false"
    >
      <span class="navbar-toggler-icon" draggable="false"></span>
    </button>
    <!-- USER PROFILE -->
    <div id="user-container" class="user-container position-relative profil" draggable="false">
      <!-- Placeholder for dynamic user profile button -->
      <div id="user-profile-button" draggable="false"></div>
      
      <div id="notification-icon" class="notification-icon position-relative notif" draggable="false">
        <button id="friendRequestButton" class="btn btn-sm position-relative text-white" draggable="false">
          <i class="fa-solid fa-bell" draggable="false"></i>
          <span id="friendRequestBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" draggable="false">
              0
          </span>
      </button>
      <div class="friend-requests-container d-none" draggable="false"></div>
      </div>
      <!-- Dropdown Menu -->
      <div id="user-menu" class="user-menu hidden position-absolute bg-white rounded shadow" draggable="false">
        <div class="dropdown-item px-3 py-2" draggable="false">
          <div id="view-profile" class="menu-item" draggable="false">View Profile</div>
        </div>
        <div class="dropdown-item px-3 py-2" draggable="false">
          <div id="enable-2fa" class="menu-item" draggable="false">2FA authentication
            <label class="switch" draggable="false">
              <input id="2fa-switch" class="input" type="checkbox" draggable="false">
              <span class="slider" draggable="false"></span>
            </label>
          </div>
        </div>
        <div class="dropdown-item px-3 py-2" draggable="false">
          <div id="log-out" class="menu-item" draggable="false">Log Out</div>
        </div>
      </div>
    </div>
    
  </div>
</nav>

<div class="main-container" draggable="false">
  <div class="row g-4" draggable="false">
    <!-- Friend List -->
    <div class="col-lg-3" id="friendListSection" draggable="false">
      <div class="section-card" draggable="false">
        <div class="friend-header" draggable="false">
          <h5 draggable="false">Friends</h5>
          <div class="friend-actions" draggable="false">
              <button class="btn btn-outline-primary btn-sm customBtn" id="searchBtn" draggable="false">
                  <i class="fa-solid fa-magnifying-glass" draggable="false"></i>
              </button>
              <button class="btn btn-outline-primary btn-sm customBtn" id="addFriendBtn" draggable="false">
                  <i class="fa-solid fa-user-plus" draggable="false"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm d-lg-none" id="closeFriendList" draggable="false">
                  <i class="fa-solid fa-xmark" draggable="false"></i>
              </button>
          </div>
      </div>

        <!-- Search Input -->
        <div class="search-container d-none mb-3" draggable="false">
          <div class="input-group" draggable="false">
            <input  type="text" class="form-control" id="searchInput" placeholder="Search friends..." draggable="false"/>
              <button class="btn btn-outline-secondary customBtn" id="closeSearch" draggable="false">
                <i class="fa-solid fa-xmark" draggable="false"></i>
              </button>
            </div>
          </div>
          
          <!-- Add Friend Input -->
          <div class="add-friend-container d-none mb-3" draggable="false">
            <div class="input-group" draggable="false">
              <input type="text" class="form-control" id="addFriendInput" placeholder="Enter friend's username" draggable="false"/>
            <button class="btn btn-primary styling" id="addFriendButton" draggable="false">Add</button>
          </div>
          <div id="addFriendResult" draggable="false"></div>
          <div id="friendRequestResult" draggable="false"></div>          
        </div>

        <div class="friend-list" draggable="false">
          <!-- the friend liiiist will be here  -->
        </div>
      </div>
    </div>

    <!-- Middle Section -->
    <div class="col-lg-6" draggable="false">
      <div class="section-card" draggable="false">
        <div id="defaultContent" class="content-center py-5" draggable="false">
          <h2 draggable="false">Welcome, Summoners,</h2>
          <p class="lead" draggable="false">
            to the ultimate Ping Pong experience! Immerse yourself in a world
            where skill meets precision, and every game is a battle for glory.
            Whether you're here to challenge the leaderboard, engage with fellow
            enthusiasts, or simply enjoy a match.
          </p>
          <button class="btn btn-primary btn-lg play-button" id="confirmButton" draggable="false">
            <i class="fa-solid fa-play me-3 fs-6" draggable="false"></i>Play Now
          </button>
        </div>

        <div id="chatWindow" class="d-none" draggable="false">
          <div class="chat-header" draggable="false">
            <div class="chat-user-info" id="chatUserInfo">
              <img src="" id="chatUserAvatar" class="rounded-circle" />
              <span id="chatUserName"></span>
              <div class="friend-status" data-status="online">Online</div>
            </div>
            <div class="chat-actions">
              <button id="invitePlayBtn" class="btn btn-primary btn-sm invitation">
                <i class="bi bi-controller"></i> Let's Play
              </button>
              <button id="blockBtn" class="btn btn-danger btn-sm" data-friend-id="">Block</button> 
              <button class="btn btn-outline-secondary customBtn" id="exitChat">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
          <div id= "chat-messages" class="chat-messages">
          </div>
          <div class="chat-input">
            <input type="text" class="form-control" placeholder="Type your message..."/>
            <button class="btn btn-primary styling" >
              <i class="fa-sharp fa-solid fa-paper-plane"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile Section -->
    <div class="col-lg-3 p-section"> <!--box-shadow: 0 4px 8px #C8AA6E; -->
      <div class="section-card text-center" id="userProfile">
        <img src="" id="prfl-pic" class="profile-avatar mb-3" />
        <h4>Your Profile</h4>
        <p class="text-muted"id="level">Level </p>
      </div>
      <div class="section-card text-center d-none" id="friendProfile">
        <img src="" class="profile-avatar mb-3" id="friendProfileAvatar" />
        <h4 id="friendProfileName"></h4>
        <p class="text-muted"id="level">Level </p>
        <p class="text-muted" id="friendProfileBio"></p>
      </div>
    </div>
  </div>
  <!-- Add this before closing body tag -->
  <button class="mobile-friends-toggle d-lg-none styling" id="mobileFriendsToggle">
    <i class="fa-regular fa-comment-dots"></i>
  </button>
</div>
