<!-- Add this spinner container -->
<div id="spinnerContainer" class="spinner-overlay d-none">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand navbar-brand-left">
      <img src="src/assets/landingPage/logo.svg" alt="Left Logo" class="left-logo">
    </a>

    <div class="mx-auto"></div>

    <a class="navbar-brand navbar-brand-right ms-auto">
      <img src="src/assets/landingPage/frame-2.svg" alt="Right Logo" class="right-logo">
    </a>
  </div>
</nav>

<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Left Section: Text and Button -->
    <div class="col-12 col-md-5 d-flex flex-column justify-content-center align-items-center text-center p-3">
      <h1 class="mb-5 ping">Ping Pong Pro</h1>
      <p class="mb-5">Compete with players from around the world in our fast-paced ping pong game. Climb the leaderboard
        and become a champion!</p>
      <button id="startButton" class="btn play-button position-relative p-0 border-0">
        <img src="src/assets/landingPage/vector-1.svg" alt="Play Now" class="img-fluid">
        <span class="position-absolute top-50 start-50 translate-middle">Start Game Now</span>
      </button>
    </div>

    <!-- Right Section: Images -->
    <div class="col-12 col-md-7 d-flex justify-content-center align-items-center image-container">
      <div class="relative-container">
        <img src="src/assets/landingPage/top.svg" class="overlay-image top d-none d-md-block">
        <img src="src/assets/landingPage/middle.svg" class="overlay-image middle d-none d-md-block">
        <img src="src/assets/landingPage/bottom.svg" class="overlay-image bottom d-none d-md-block">
        <img src="src/assets/landingPage/subtract.png" class="img-fluid main-image d-none d-md-block"
          alt="Responsive image">
      </div>
    </div>
  </div>
</div>


<form id="qrcode" action="">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">QR Code</h5>
      <button type="button" class="btn-close" aria-label="Close" id="closeQRCodeModal"></button>

    </div>
    <div class="modal-body">
      <img id="QR" src="" alt="QR Code" class="img-fluid mb-3">
      <input type="text" placeholder="Enter code here" class="form-control mb-3" required id="qrCodeInput">
    </div>
    <div class="modal-footer">
      <button id="qrc" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
