* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: visible !important;
  overflow-x: hidden !important;
  background-color: var(--colors-body);
  background-image:
    radial-gradient(circle at top left, rgb(213, 5, 255) 1%, transparent 40%),
    radial-gradient(circle at bottom left, rgb(15, 195, 231) 1%, transparent 40%);
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  background-position: top left, bottom left;
  background-attachment: fixed;
  height: 100%;
}

#app {
  height: 100%;
  min-height: 100vh;
}

/* LOGO */
.image {
  display: block;
  width: 40px;
  height: auto;
  margin: 0 0 0 20px;
}

.fonts {
  font-size: 1.2rem;
  color: white;
}

/* NAVBAR */
.navbar {
  height: 120px;
  margin-bottom: 0.5rem;
  /* border-bottom: 1px solid var(--colors-cyan) !important; */
}

.user {
  margin-left: auto !important;
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}

.container-fluid {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 100% !important;
}

.nav-item a {
  font-size: 1rem;
  /* Adjust font size */
  text-align: center;
  /* katcentri f togglebar*/
}

.navbar-toggler {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.shows {
  background-color: black;
}

.navbar .sidebar .offcanvas-body .nav-link {
  padding: 10px !important;
  margin: 10px;
}

.navbar .user {
  background: none !important;
  border: none !important;
}

.navbar .user .customBack {
  /* background-color: #007bff !important; */
  color: #a6009e !important;
  /*user !!!!*/
  font-weight: bold !important;
  border: none !important;
}

@media (max-width: 991px) {

  .offcanvas-body,
  .offcanvas-header {
    background-color: var(--colors-body);
  }
}

@media (max-width: 989px) {
  .contain {
    flex-direction: column;
  }

  .friend-list,
  .conversation {
    width: calc(100% - 66px);
    margin: 20px 0;
  }

  .toggle-btn {
    width: 10rem;
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 3;
  }

  .Text {
    display: none;
  }

  /* 
    .play {
        position: fixed;
        left: 20%;
        top: 20%;
        transform: translate(-50%, -50%);
        z-index: 0;
      } later on !!!!! */
}

@media (min-width: 990px) {
  .contain {
    flex-direction: row;
  }

  .friend-list {
    display: block;
  }

  .conversation {
    /* display: block; */
    position: static;
    /* Reset positioning */
  }

  .toggle-btn {
    display: none;
  }

  .Text {
    font-size: 3vw;
    left: 30%;
  }
}

#toggler {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}

/* Users Container (Image + Border) */
.users-container {
  width: 100px !important;
  height: 100px !important;
  position: relative !important;
  flex-shrink: 0; /* Prevents shrinking */
}

/* Profile Border */
.users-border {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1;
}

/* Profile Avatar */
.users {
  width: 55.5% !important; /* Avatar size */
  height: 55.5% !important;
  object-fit: cover !important;
  border-radius: 50% !important;
  position: absolute !important;
  top: 23% !important; /* Center the avatar */
  left: 23% !important;
  z-index: 0;
}

/* User Name */
.UserProfile {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.UserProfile p {
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
}

/* Notification Icon */
.Notifications {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.Notifications i {
  font-size: 1rem;
  color: #ffffff;
}

.level {
  color: white;
  font-weight: bold;
  font-size: 10px;
  position: inherit;
  top: 73.5%;
  left: 0.5%;
  z-index: 1;
}

/* .developer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.developer-card img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .developer-card {
    text-align: center;
  }
} */

/* General styles for the cards */
.main-container {
  height: calc(100vh - 160px); /* Adjusting to a little bit more space */
  min-height: 500px; /* Minimum height to prevent it from shrinking too much */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1.5rem;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main-container {
    height: calc(100vh - 160px);
  }
}

@media (max-width: 767px) {
  .main-container {
    height: auto; /* Allow the height to adjust on small screens */
    min-height: 400px; /* Prevent it from being too small */
  }
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  position: relative;
}

#developer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
  margin-top: 0;
  overflow: hidden;
}

/* Developer Card Styling */
.developer-card {
  perspective: 1000px;
  margin: 10px;
  margin-top: 30px;
  flex: 1 1 22%;
  min-height: 350px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 5px solid transparent;
  position: relative;
  transition: all 0.3s ease;
}

/* Front and back styling with the spin animation */
.developer-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.developer-card:hover .developer-card-inner {
  transform: rotateY(180deg);
}

.developer-card-front,
.developer-card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.developer-card-front {
  background: var(--colors-body);
  color: white;
  padding: 20px;
  text-align: center;
  height: 350px;
}

.developer-card-front img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px rgba(27, 227, 227, 0.4);
}

.developer-card-back {
  background: var(--colors-body);
  height: 350px;
  color: #fff;
  transform: rotateY(180deg);
  box-shadow: 8px 8px 15px #64e3f4, -8px -8px 15px #d553f3;
}

.developer-card-back p {
  margin: 10px;
}

.developer-card-back .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.developer-card-back .social-icons a:hover {
  transform: scale(1.2);
  color: #00bcd4;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* Spin animation for both front and back of the card */
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

/* Front side of the card ::before and ::after */
.developer-card-front::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), var(--colors-cyan), var(--colors-cutePink));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 10px;
  animation: spin 3s linear infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.developer-card-front::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  #developer-cards {
    justify-content: center;
    margin-top: 1rem;
  }

  .developer-card {
    flex: 1 1 45%;
    /* min-height: 300px; */
    max-height: 400px;
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .developer-card {
    flex: 1 1 100%;
    /* min-height: 250px; */
    max-height: 350px;
    margin: 5px;
  }

  #developer-cards {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}

/*-------------------------------------------------------*/

/* Dropdown Menu Styling */
/* Dropdown Menu Styling */
#user-menu {
  display: none; /* Hidden by default */
  position: absolute; /* Position it below the user-container */
  background-color: var(--colors-body) !important; /* Adjust color */
  color: white !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears above other elements */
  top: 90%; /* Positioned below the user button */
  right: 0;
  min-width: 230px;
  overflow: hidden;
}

/* Initially hide the menu */
.hidden {
  display: none !important;
}

/* When the menu is visible */
.visible {
  display: block !important;
}

/* Style for the dropdown items */
#user-menu .dropdown-item {
  display: block;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

/* Hover effect for dropdown items */
#user-menu .dropdown-item:hover {
  background-color: hsl(210, 14%, 25%);
}

/* Media query for small screens */
@media (max-width: 450px) {
  .users-container {
    display: none;
  }
}

/* ------ */

#enable-2fa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


#enable-2fa .menu-item {
  text-align: center;
  font-size: 1rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 40px;
}

.input {
  display: none !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white !important;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--colors-cyan) !important;
}

input:checked + .slider:before {
  transform: translateX(20px);
}