/* @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface:400|Abyssinica+SIL:400|Abel:400"); */

:root {
  --colors-cuteBlue: #4169e1;
  --colors-cutePink: #d93f9b;
  --colors-online: #07EF9C;
  --colors-offline: #dc3545;
  --colors-cyan: rgb(35, 242, 255);
  --colors-body: #1B0334;
}


* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  margin: 0px;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  color: white;
}

@media only screen and (min-width: 1024px) {
  body {
      overflow: hidden; /* Prevent zooming effects via scrolling */
  }
}

/* #app {
  z-index: 1;
} */
/* button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
} */

a {
  text-decoration: none;
}

.navbar .sidebar .offcanvas-body .nav-link:hover {
  color: var(--colors-cyan) !important;
}